@import "tailwindcss";

@theme {
  --font-primary: "Arial", "sans-serif";

  --color-alphaPurple: #BB7CD2;
  --color-alphaYellow: #FEBE4F;
  --color-alphaGreen: #05A368;
  --color-alphaBlue: #5F90FF;
  --color-alphaRed: #691F13;

  --color-alphaDark: #222222;
  --color-alphaLight: #FFFFFF;
}